<%- include('./components/header.ejs')  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <form action="/games" method="get">
        <select name="genre" id="filter">
            <option value="">Nenhum</option>
            <option value="board-game">boardgame</option>
            <option value="plataformer">plataformer</option>
            <option value="fps-shooter">fps-shooter</option>
            <option value="other">other</option>
        </select>
        <button type="submit">filter</button>
    </form>
    <ul>
        <% for (element of data) {%>
            <li> <a href="/games/<%=element._id%>"><%= element.title %>    >>   rating: <%= element.rating %> >> <%= element.genre %></a></li>
             <form action="/games/delete/<%= element._id %>?_method=DELETE" method="post">
                <button type="submit">delete</button>
             </form>

             <form action="/games/update/<%=element._id%>" method="get">
                <button type="submit">update</button>
             </form>
            <hr>
        <%}; %>
    </ul>
    <a href="/games/submit"> >> create new game</a>
    
</body>
</html>