<!-- here im going to do a better looking template for each game -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/specific.css">
    <title><%= game.title %></title>
 </head>
 <body>
    <div id="logo">
        <%- include('./components/header.ejs')  %>
    </div>
    <header>
        <h1><%= game.title %></h1>
    </header>
    <main>
        <h3>Basic information</h3>
        <p>It was created in <%= game.year %> and it is owned by <%= game.owner %>, having the main genre <strong><%= game.genre %></strong> (based by the current website genre options)</p>
    <h3>More</h3>
    <% if (game.about) { %>
        <div id="about" style="white-space: pre-wrap;"><%=game.about%></div>
        <%} else { %>
        <p>This game has no "about" information</p>
    <%}%>
    </main>
    <a href="http://localhost:3000/" id="homepage">back to homepage</a>

    <footer>

    </footer>
 </body>
 </html>